@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", serif;
    background-color: hsl(212, 45%, 89%);
    color: #68778d;
    font-size: 15px;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    max-width: 320px;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
}

.qr-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}

.text {
    padding: 0 16px;
}

.card-title {
    color: hsl(218, 44%, 22%);
    padding-bottom: 16px;
    font-size: 1.4rem;
}

.text p {
    color: hsl(228, 15%, 55%);
}

.attribution {
    font-size: 0.75rem;
    color: #1e3a8a;
    text-align: center;
    margin-bottom: 24px;
}

.attribution a {
    color: #2c7dfa;
    text-decoration: none;
}

.attribution a:hover {
    color: #1d4ed8;
}